---
import ReachesProductivity from "../../features/Reaches/ReachesProductivity/ReachesProductivity.astro";

const {
   id,
   bgColor = "var(--color-primary)",
   textColor = "var(--color-white)",
   image,
   title,
   text,
} = Astro.props;

const styles = {
   backgroundColor: bgColor,
   color: textColor,
};

const contentWrapped = () => {
   switch (id) {
      case( id === 'productividad'):
         return <ReachesProductivity/>;
      
      default:
         return <ReachesProductivity/>;
   }
}

---

<article class="reaches-card--container" style={styles}>
   {
      image && (
         <figure>
            <img src={image} alt="icono" />
         </figure>
      )
   }

   <div class="reaches-card-content-container">
      <div class="reaches-card-content--texts">
         <h3>{title}</h3>
         <p>{text}</p>
      </div>
      <div class="reaches-card--more-container" style={styles}>
         {contentWrapped()}
      </div>
      <slot />
   </div>
</article>

<style>
   article {
      position: relative;
   }
   .reaches-card--container {
      width: 100%;
      max-width: 100%;
      max-width:800px;
      min-height: 275px;
      padding: 20px;
      display: grid;
      grid-template-columns: 200px 1fr;
      align-items: flex-start;
      gap: 40px;
      z-index: 10;
   }

   figure {
      width: 100%;
      height: 100%;
      max-height: 150px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
   }

   figure img {
      object-fit: cover;
      height: 100%;
      width: auto;
   }

   .reaches-card-content-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
      justify-content: space-between;
   }

   .reaches-card-content--texts {
      display: flex;
      flex-direction: column;
      gap: 20px;
   }

   .reaches-card-content-container p {
      line-height: 1.5rem;
   }

   .reaches-card--more-container {
      display: none;
      transition: all display 0.5s;
   }

   .reaches-card--active .reaches-card--container {
      z-index: 20;
   }

   .reaches-card--active .reaches-card--more-container {
      display: flex;
      transition: all display 0.5s;
   }
</style>
