---
import Container from '../Container.astro'

const {
  withButton = false,
  textButton,
  title,
  text,
  bgColor = 'var(--color-dark-gray)',
  articleBgColor = 'var(--color-light-gray)',
  image,
  imageFirst = true
} = Astro.props

const styles = {
  bannerContainer: {
    maxWidth: '1920px',
    padding: '25px 154px',
    backgroundColor: bgColor
  },
  article: {
    borderRadius: '4px',
    display: 'flex',
    gap: '2em',
    backgroundColor: articleBgColor
  },
  imgDiv: {
    padding: '0 94px',
    width: '40%'
  },
  img: {
    width: '672px',
    height: '100%'
  },
  sectionData: {
    display: 'flex',
    flexDirection: 'column',
    justifyContent: 'center',
    alignItems: 'start',
    flexGrow: '1',
    padding: '0 32px',
    gap: '4em'
  },
  button: {
    padding: '16px 32px',
    border: '1px solid black',
    fontSize: '16px',
    fontWeight: 'bold',
    borderRadius: '4px'
  }
}
---

<div style={styles.bannerContainer}>
  <article style={styles.article}>
    <div class={!imageFirst ? 'imageFirst' : ''}>
      <img style={styles.img} src={image} alt=`${title} image` />
    </div>
    <div style={styles.sectionData}>
      <h2>{title}</h2>
      <p>{text}</p>
      {withButton && <button style={styles.button}>{textButton}</button>}
    </div>
  </article>
</div>

<style>
  .imageFirst {
    order: 1;
  }
</style>
