---
const {
  width,
  height,
  title,
  colorTitle,
  paragraph,
  colorParagraph,
  fontSizeP = 'var(--fs-l)',
  fontFamily = 'var(--font-primary)',
  fontWeight = 'regular',
  fontSizeTitle = 'var(--fs-headline)',
  gap = '1em',
  ...others
} = Astro.props

const styles = {
  div: {
    display: 'flex',
    flexDirection: 'column',
    gap,
    width: width,
    height: height
  },
  title: {
    color: colorTitle,
    textAlign: 'start',
    textWrap: 'pretty',
    fontFamily: fontFamily,
    fontWeight: fontWeight,
    fontSize: fontSizeTitle
  },
  paragraph: {
    color: colorParagraph,
    fontSize: fontSizeP,
    textAlign: 'start',
    textWrap: 'pretty',
    fontFamily: fontFamily,
    fontWeight: fontWeight
  }
}
---

<div style={styles.div} {...others}>
  <h1 style={styles.title}>{title}</h1>
  {paragraph && <p style={styles.paragraph}>{paragraph}</p>}
</div>
