---
const {
  width,
  height,
  title,
  colorTitle,
  paragraph,
  colorParagraph,
  fontSizeP
} = Astro.props

const styles = {
  div: {
    display: 'flex',
    flexDirection: 'column',
    gap: '2em',
    width: width,
    height: height
  },
  title: {
    color: colorTitle,
    textAlign: 'start',
    textWrap: 'pretty'
  },
  paragraph: {
    color: colorParagraph,
    fontSize: fontSizeP,
    textAlign: 'start',
    textWrap: 'pretty'
  }
}
---

<div style={styles.div}>
  <h1 style={styles.title}>{title}</h1>
  {paragraph && <p style={styles.paragraph}>{paragraph}</p>}
</div>
